.card{
    width:90%;
   max-width: 350px;
    height: 150px;
    background-color: rgba(1, 12, 21, 0);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.047),2px 2px 20px black;
    border-radius: 10px;
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;
    flex-shrink: 0;
}

.card:hover{
    box-shadow: 2px 2px 10px rgb(186, 224, 240),2px 2px 20px rgb(101, 200, 233);
}
.card h1{
     background: linear-gradient(to right,rgba(10, 199, 202, 0.847),white);
    background-clip: text;
    color: transparent;
}

.hovercard img{
    height: 80%;
    filter: drop-shadow(2px 2px 10px black);
}

.hovercard{
    width: 100%;
    height: 100%;
    background-color: rgba(1, 26, 35, 0.829);
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);
}
.card:hover .hovercard{
    transform: translateY(0%);
}