/* #experience{
    width: 100%;
    height: 100%;
     align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}
#para{
   font-size: 2vmax;
    background: linear-gradient(to right,rgb(80, 221, 197),white);
    background-clip: text;
    color: transparent;
    text-align: center;
    display: flex;
}
/* .text{
    font-size: 2vmax;
    background: linear-gradient(to right,rgb(80, 221, 197),white);
    background-clip: text;
    color: transparent;
    text-align: left;

}
.leftsection{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
    /* gap: 10px; */
/* }
.rightsection{
     width: 50%;
    height: 300px;
    display: flex;
    align-items: right;
    gap:30px;
    padding: 20px; 

} */ */
#experience {
  width: 100%;
  height: 100vh;
  display: flex;              /* key change */
  align-items: center;
  justify-content: center; /* keeps them on left & right sides */
  flex-direction: row;        /* ensures left and right side-by-side */
  gap: 30px;
  overflow: hidden;
  padding: 20px;
}

.leftsection {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;  /* content aligned left */
  margin-top: 150px;
}

.rightsection {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;   /* content aligned right */
  gap: 30px;
  padding: 20px;
  margin-top:1px ;
}
#para{
   font-size: 2vmax;
    background: linear-gradient(to right,rgb(80, 221, 197),white);
    background-clip: text;
    /* color: transparent;
    text-align: center;
    display: flex; */
}
